@model student_management.Models.LopChinhQuy

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <section class="content-header">
        <h1>Thêm lớp</h1>
    </section>

    <section class="content">
        <div class="card card-primary">
            <div class="card-header"><h3 class="card-title">Thông tin lớp</h3></div>

            <form asp-action="Create" method="post">
                <div class="card-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group">
                        <label asp-for="MaLop" class="control-label">Mã lớp</label>
                        <input asp-for="MaLop" class="form-control" placeholder="Nhập mã lớp..." />
                        <span asp-validation-for="MaLop" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="TenLop" class="control-label">Tên khoa</label>
                        <input asp-for="TenLop" class="form-control" placeholder="Nhập tên lớp..." />
                        <span asp-validation-for="TenLop" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MaKhoa" class="control-label">Khoa</label>
                        <select asp-for="MaKhoa" class="form-control" asp-items="ViewBag.MaKhoa">
                            <option value="">-- Vui lòng chọn khoa --</option>
                        </select>
                        <span asp-validation-for="MaKhoa" class="text-danger"></span>
                    </div>

                </div>

                <div class="card-footer">
                    <input type="submit" value="Thêm mới" class="btn btn-info" />
                    <a asp-action="Index" class="btn btn-secondary">Quay lại</a>
                </div>
            </form>
        </div>
    </section>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
